// DEFINICION DE VARIABLES GENERALES


:root{
    --primary-color:#3F51B5;
    --secondary-color: #6ab04c;
    --waring-color:#f0932b;
    --danger-color:#eb4d4b;
    // Idealmente los colores principales y secundarios,etc tienen
    // QUe ser monocromaticos o analogos
    --main-color: #0647A6;
    // Segundo color apiux
    --second-color:#213B61;


    --extra-color: #f2f2f2;
    --main-bg-color:#ffffff;
    --second-bg-color:#f1f1f1;

    --dark-color: #909090;
    --dark-second-color:#f5f6fa;
    --dark-background:#23242D;
    --dark-second-background:#181818;
 
    
  
    --animate-delay: 0.4s;
    --border-radius-general:10px;

}

