.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color:whitesmoke;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}
.navbar__nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    svg{
       margin-left: 20px;
       font-size: 1.4rem; 
       color: whitesmoke;
    }
}
.navbar__nav-link{
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    color:var(--main-color);
    position: relative;
    &:hover{
        cursor: pointer;
    }

}

.navbar__nav-right{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    svg::selection{
        background: none;
    }
    .navbar__username{
        color:whitesmoke
    }
}
.navbar__search{
    position: relative;
    margin: auto;
    width: 50%;
    input{
        background: var(--second-bg-color);
        border: none;
        padding: 12px 50px 12px 50px;
        width: 100%;
        outline: none;
        color:var(--main-color);
        border-radius: 20px;
    }
    svg{
        position: absolute;
        top: 30%;
        right: 15px;
        transform: translate(-50%);
        color:var(--main-color);
        cursor: pointer;
    }
}

.navbar__logo{
    width: 150px;
    height: 65x;
    padding: 13px 10px 10px 10px;
    margin-left: 15px;
    // padding-left: 20px;
    
    &::selection{
        background: none;
    }
}
.navbar__dropdown-toggle{
    cursor: pointer;
}
.navbar__avatar{
    padding: 11px;
    img{
        width: 39px;
        height: 39px;
        border-radius: 50%;
    }
}
.navbar__logs-container{
    position: relative;
    margin-left: 20px;
    
    #navbar__logs-icon{
        cursor: pointer;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    // TODO: SEGUIR CON esto me falta hacer el contenido de esto y hacer
    // que los logs de puedan eliminar del estado 
    .navbar__logs-box.navbar__show-box-logs{
        visibility: visible;
        opacity: 1;
    }
    .navbar__logs-box{
        display: flex;
        flex-direction: column;
        visibility: hidden;
        overflow: auto;
        transition:visibility 0.3s linear,opacity 0.3s linear;
        opacity: 0;
        width: 300px;
        height: 400px;
        background-color: white;
        position: absolute;
        top:22px;
        left: 40px;
        border-radius: 8px;
        box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.75);
        #navbar__logs-box-title{
            color: rgba(0, 0, 0, 0.726);
            margin: 2px 0px 0px 10px;

        }
        .navbar__container-messages{
            flex: 1;
            // background-color: red;
            padding: 0px 10px 10px 10px;
            .navbar__message-empty{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                // background-color: red;
                h4{
                    opacity: 0.6;
                    color:var(--second-color)
                }
            }
            .navbar__message-box-logs{
                transition: all .5s;
                width: 100%;
                color: black;
                background-color: #cce5ff;
                text-align: start;
                margin-top: 10px;
                padding: 30px;
                position: relative;
                border-radius: 4px;
                border: 1px solid transparent;    border: 1px solid transparent;
                .navbar__created-log{
                    position: absolute;
                    top:5px;
                    font-size: 13px;
                    left: 10px;
                }
                .navbar__delete-message-log{
                    position: absolute;
                    top: 3px;
                    right: 15px;
                    cursor: pointer;
                    text-shadow: 0 1px 0 #fff;
                    opacity: .5;
                    font-size: 20px;
                    transition: all .5s;
                    &:hover{
                        
                        color: #000;
                        opacity: 1;
                    }
                }
    
               
            }
        }
        @media screen and (max-width:430px) {
            width: 300px;
            height: 400px;
            top:30px;
            left: 0px;
        }
        @media screen and (max-width:380px) {
            width: 300px;
            height: 400px;
            top:30px;
            left: -10px;
        }
    }
}


@media only screen and (max-width: 600px) {


	.navbar__search {
		display: none;
	}

    
}